input{
    padding: 1vh 1vh;
    margin: 5px  5px;
    border: none;
    border-radius: 3px
}
.credentials button{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border: none;
    border-radius: 3px;
    padding:1vh 2vh;
    margin: 5px;
}
h1{
    color: #658ec6;
    font-weight: 525;
    font-size: 2.5rem;
    opacity: 0.8;
  }

h1:hover{
    color: #426696;
    font-weight: 535;
    font-size: 2.5rem;
    opacity: 1;
  }

.loginbox{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 2vh 6vh;
    margin: 3vh 50vh;
    padding-bottom: 4vh;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.logo{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-left: 1vh;
    padding-top: 1vh;
}
.credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  margin: 0 25vh;
  padding-bottom: 8vh;
  margin-bottom: 4vh;
}