.MainApp{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    box-shadow: 6px 6px 20px rgba(218, 109, 109, 0.212);
    color: white;
}
.name p{
    font-weight: 650;
    font-size: larger;
    padding-left: 15vh;
    cursor: pointer;
}

.name p:hover{
    font-weight:750;
    font-size: x-large;
    color: #167967;
    transition: 0.7s;
}
.nav-links{
    width:40%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    padding-right: 50vh;
}
.nav-links li{
    color: white;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
}
.nav-links li:hover{
    color: #167967;
    font-size: x-large;
    transition: 0.7s;
    text-decoration: none;
}